@import url("https://fonts.googleapis.com/css2?family=Karla&family=Lato&family=Lora:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Container styles */
.container {
  width: 100%;
  padding: 0 16px;
}

@media (max-width: 768px) {
  .container {
    padding: 0 8px;
  }
}


