@import url("https://fonts.googleapis.com/css2?family=Karla&family=Lato&family=Lora:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Container styles */
.container {
  width: 100%;
  padding: 0 16px;
}

@media (max-width: 768px) {
  .container {
    padding: 0 8px;
  }
}
/* Navbar Styles */
.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #1a202c;
  color: #fff;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 20px;
}

.navbar-items {
  display: flex;
  align-items: center;
}

.navbar-item {
  margin-left: 20px;
}

.search-container {
  flex: 1;
  position: relative;
  margin-top: 10px;
}

.search-input {
  padding: 5px;
  border: none;
  border-radius: 5px;
  width: 100%; /* Full width */
}

.search-results {
  position: absolute;
  top: 40px;
  left: 0;
  background-color: #fff;
  color: #000;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
}

.search-result-item {
  padding: 10px;
  cursor: pointer;
}

.search-result-item:hover {
  background-color: #f1f1f1;
}

